@import './tailwind.css';

:root {
  --font-sans: 'Montserrat', sans-serif;

  /* colors */
  --primary-color-hue: 15;
  --primary-color-saturation: 100%;
  --primary-color-lightness: 50%;

  --secondary-color-hue: 158;
  --secondary-color-saturation: 64%;
  --secondary-color-lightness: 52%;

  --background-color-hue: 0;
  --background-color-saturation: 0%;
  --background-color-lightness: 100%;

  --text-color-hue: 24;
  --text-color-saturation: 5%;
  --text-color-lightness: 25%;

  --white-color-hue: 0;
  --white-color-saturation: 0%;
  --white-color-lightness: 100%;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  scroll-padding-top: var(--header-height);
}

html,
body {
  display: flex;
  flex-direction: column;
}

@layer base {
  body {
    isolation: isolate;
    justify-content: space-between;
    @apply bg-background text-text;
  }

  a {
    @apply font-semibold underline decoration-primary;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
