@import './tailwind.css';

:root {
  --font-sans: 'Montserrat', sans-serif;

  /* colors */
  --primary-color-hue: 15;
  --primary-color-saturation: 100%;
  --primary-color-lightness: 50%;

  --secondary-color-hue: 158;
  --secondary-color-saturation: 64%;
  --secondary-color-lightness: 52%;

  --background-color-hue: 0;
  --background-color-saturation: 0%;
  --background-color-lightness: 100%;

  --text-color-hue: 24;
  --text-color-saturation: 5%;
  --text-color-lightness: 25%;
}

html,
body,
#svelte {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
