@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #svelte {
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @apply text-text bg-background;
  }

  a {
    @apply font-semibold underline decoration-primary;
  }
}
